<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>CH-LOD</title>
  <link rel="stylesheet" href="/static/stylesheet.css" type="text/css">
  </head>
  <body>

<div id="header">
  <div class="container">

    <!-- columns should be the immediate child of a .row -->
    <div class="row">

      <div class="three columns">
          <img src="/static/CH_logo_thick_rule.jpg" id="logo">

      </div>

      <div class="nine columns">
          <nav class="responsive-nav" id="js-responsive-nav">

              <ul class="responsive-nav__list">
                  <li class="responsive-nav__item">
                      <a href="/" class="responsive-nav__link">Home</a>
                  </li>
                  <li class="responsive-nav__item">
                      <a href="/about" class="responsive-nav__link">About</a>
                  </li>
                  <li class="responsive-nav__item">
                      <a href="/sparql" class="responsive-nav__link">SPARQL</a>
                  </li>

                  <li class="responsive-nav__item">
                      <a href="/map" class="responsive-nav__link">Map</a>
                  </li>
              </ul>
          </nav>
      </div>
    </div>
  </div>
</div>



