{% extends "base.html" %}
{% block title %}SPARQL Endpoint | Carnegie Hall Data Lab{% endblock %}
{% block meta_description %}Query Carnegie Hall's performance history data through using this SPARQL endpoint.{% endblock meta_description %}
{% block content %}
<div class="container">
  <div class="container-fluid pt-3 my-3">
    <h1 class="display-3 p-3 my-3 bg-info text-white">SPARQL Query</h1>
    <!-- Temporary maintenance warning – uncomment lines 9-12 if service is down -->
    <!-- <div class="alert alert-warning" role="alert">
      <h2>Our SPARQL endpoint is currently offline for maintenance.</h2>
      <h4>Some pages or features may not be available. Please check back later.</h4>
    </div> -->
    <hr>



      <div>Data last updated: <a href="/void/turtle/" id="data-last-updated"></a></div>
      <div>Example Queries: <select id="examples"></select></div>


    <div id="yasgui"></div>
    <script>

let examples = {


'Select first 100 triples':

`SELECT * WHERE {
  ?subject ?property ?object
} 
LIMIT 100`,



'Find people':
`#Find people
PREFIX schema: <http://schema.org/>
SELECT ?person ?name WHERE {
  ?person a schema:Person ;
  		schema:name ?name .
}
LIMIT 50`,




'Find a specific person by name':
`#Find a specific person by name
PREFIX schema: <http://schema.org/>
SELECT ?s ?p ?o WHERE {
  ?s ?p ?o ;
     a schema:Person ;
     schema:name "Duke Ellington" .
}`,


'Find works':
`#Find works
PREFIX schema: <http://schema.org/>
PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
SELECT ?work ?title WHERE {
  ?work a schema:MusicComposition ;
  		rdfs:label ?title .
}
LIMIT 50`,


'Find works by string in the title (case-insensitive)':
`#Find works by string in the title (case-insensitive)
PREFIX dcterms: <http://purl.org/dc/terms/>
PREFIX schema: <http://schema.org/>
PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
SELECT DISTINCT ?work ?composer ?title WHERE {
  ?work a <http://schema.org/MusicComposition> ;
  		dcterms:creator ?creator ;
    	rdfs:label ?title .
  ?creator schema:name ?composer
  FILTER regex(?title, "piano sonata", "i")
}
LIMIT 50
`,

'Find performances of a specific work':
`#Find performances of a specific work
PREFIX schema: <http://schema.org/>
PREFIX mo: <http://purl.org/ontology/mo/>
SELECT DISTINCT ?performanceID ?performerID ?name (CONCAT(STR(MONTH(?date)),
             '/',
              STR(DAY(?date)),
              '/',
             STR(YEAR(?date))) as ?performanceDate)
WHERE {
  ?performanceID schema:subEvent ?workPerformance ;
                 schema:startDate ?date .
  ?workPerformance schema:workPerformed <http://data.carnegiehall.org/works/25116> ;
                   mo:performer ?performerID .
  ?performerID schema:name ?name .
}
ORDER BY ?date`,


'Find events':
`#Find events
PREFIX schema: <http://schema.org/>
PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
SELECT ?event ?label WHERE {
  ?event a schema:Event ;
  		rdfs:label ?label .
}
LIMIT 50`,

'Find events from a specific year':
`#Find events from a specific year
PREFIX schema: <http://schema.org/>
PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
SELECT ?event ?date ?title WHERE {
  ?event a schema:Event ;
  		 schema:startDate ?date ;
     	 rdfs:label ?title .
  FILTER (year(?date) = 1910)
}
LIMIT 50
`,

'Find venues':
`#Find venues
PREFIX schema: <http://schema.org/>
PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
SELECT ?venue ?label WHERE {
  ?venue a schema:EventVenue ;
  		rdfs:label ?label .
}
LIMIT 50
`,

'Find instruments':
`#Find instruments
PREFIX mo: <http://purl.org/ontology/mo/>
PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
SELECT ?instrument ?label WHERE {
  ?instrument a mo:Instrument ;
  			rdfs:label ?label .
}
LIMIT 50`,

'Find ensembles':
`#Find ensembles
PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
PREFIX schema: <http://schema.org/>
SELECT ?instrument ?label WHERE {
  ?instrument a schema:PerformingGroup ;
  			rdfs:label ?label .
}
LIMIT 50`,

'Find roles':
`#Find roles
PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
PREFIX schema: <http://schema.org/>
SELECT ?role ?label WHERE {
  ?role a schema:Role ;
  		rdfs:label ?label .
}
LIMIT 50`,

'Top 25 works at Carnegie Hall':
`#Top 25 works at CH
PREFIX dcterms: <http://purl.org/dc/terms/>
PREFIX schema: <http://schema.org/>
PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
SELECT DISTINCT ?composerName ?workTitle (COUNT(DISTINCT ?workPerf) AS ?numberOfPerformances)
WHERE {
  ?work a schema:MusicComposition ;
  		dcterms:creator ?composer ;
  		rdfs:label ?workTitle .
  ?composer schema:name ?composerName .
  ?event schema:subEvent ?workPerf .
  ?workPerf schema:workPerformed ?work .
  MINUS { ?composer schema:name "Anonymous" . }
}
GROUP BY ?composerName ?workTitle
ORDER BY DESC(?numberOfPerformances)
LIMIT 25`,

'Performers with the most CH performances':
`#Performers with the most CH performances
PREFIX chRoles: <http://data.carnegiehall.org/vocabulary/roles/>
PREFIX schema: <http://schema.org/>

SELECT ?performerID ?performerName (COUNT (DISTINCT(?event)) AS ?numberOfPerformances)
WHERE {
  {
    ?event chRoles:conductor ?performerID .
    ?performerID schema:name ?performerName .
  }
  UNION
  {
    ?event schema:subEvent ?workPerformance .
    ?workPerformance ?performerRole ?performerID .
    ?performerID schema:name ?performerName .
  }
}
GROUP BY ?performerID ?performerName
ORDER BY DESC(?numberOfPerformances)
LIMIT 50`,

'Pianists with the most CH performances':
`#Pianists with the most CH performances
PREFIX chroles: <http://data.carnegiehall.org/vocabulary/roles/>
PREFIX schema: <http://schema.org/>
SELECT ?performerID ?performerName (COUNT (DISTINCT(?event)) AS ?numberOfPerformances)
WHERE {
  ?event schema:subEvent ?workPerformance .
  ?workPerformance chroles:piano ?performerID .
  ?performerID schema:name ?performerName .
}
GROUP BY ?performerID ?performerName
ORDER BY DESC(?numberOfPerformances)
LIMIT 25`,

'Find alto saxophonists born in November':
`#Find alto saxophonists born in November
PREFIX schema: <http://schema.org/>
PREFIX gndo: <http://d-nb.info/standards/elementset/gnd#>
PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
SELECT ?performer ?name ?birthPlaceLabel ?birthDate WHERE {
  ?performer schema:name ?name ;
             schema:birthPlace ?birthPlace ;
             schema:birthDate ?birthDate ;
             gndo:playedInstrument ?instrument .
  ?instrument rdfs:label "alto saxophone" .
  ?birthPlace rdfs:label ?birthPlaceLabel .
  FILTER(month(?birthDate) = 11)
}
ORDER BY ASC(?birthDate)`,

'Find people by birth year':
`#Find people by birth year
PREFIX schema: <http://schema.org/>
SELECT ?subject ?name ?birthDate
WHERE {
  ?subject schema:birthDate ?date;
           schema:name ?name
  FILTER CONTAINS(str(?date), "1801")
  BIND(str(?date) AS ?birthDate)
}
ORDER BY ?birthDate`,


'How many composers die at certain age':
`#How many composers die at certain age
# Query to find all composers who have already died
# calculate their age (full years) at death
# count how many of them died at each age
PREFIX marcRel: <http://id.loc.gov/vocabulary/relators/>
PREFIX schema: <http://schema.org/>
SELECT ?age  (COUNT (DISTINCT ?a) AS ?count) WHERE {
  ?a schema:hasOccupation marcRel:cmp . #occupation of composer
  ?a schema:birthDate ?birth_date .
  ?a schema:deathDate ?death_date .
  #ignore outlyers, several of which are probably errors
  FILTER(?age > 10 && ?age < 100) .
  # calculate the age, precisely to the day (times and timezones ignored)
  BIND( year(?death_date) - year(?birth_date) - if(month(?death_date)<month(?birth_date) || (month(?death_date)=month(?birth_date) && day(?death_date)<day(?birth_date)),1,0) as ?age )
}
GROUP BY ?age
ORDER BY ?age`,

'How many pianists die at certain age':
`#How many pianists die at certain age
# Query to find all composers who have already died
# calculate their age (full years) at death
# count how many of them died at each age
PREFIX chinstruments: <http://data.carnegiehall.org/instruments/>
PREFIX gndo: <http://d-nb.info/standards/elementset/gnd#>
PREFIX schema: <http://schema.org/>
SELECT ?age  (COUNT (DISTINCT ?a) AS ?count) WHERE {
  ?a gndo:playedInstrument chinstruments:783 . #pianist
  ?a schema:birthDate ?birth_date .
  ?a schema:deathDate ?death_date .
  #ignore outlyers, several of which are probably errors
  FILTER(?age > 10 && ?age < 100) . 
  # calculate the age, precisely to the day (times and timezones ignored)
  BIND( year(?death_date) - year(?birth_date) - if(month(?death_date)<month(?birth_date) || (month(?death_date)=month(?birth_date) && day(?death_date)<day(?birth_date)),1,0) as ?age )
}
GROUP BY ?age
ORDER BY ?age`,

'Number of works by Bach performed each year':
`#Number of works by Beethoven performed each year
PREFIX dcterms: <http://purl.org/dc/terms/>
PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
PREFIX schema: <http://schema.org/>
SELECT ?yearOfEvent (COUNT(?event) AS ?numberOfWorks)
WHERE {
  ?event schema:subEvent ?workPerf .
  ?event schema:startDate ?date BIND (str(YEAR(?date)) AS ?yearOfEvent)
  ?workPerf schema:workPerformed ?work .
  ?work dcterms:creator ?composer .
  ?composer (schema:name|rdfs:label) ?composerName .
  FILTER regex(?composerName, "Johann Sebastian Bach", "i")
}
GROUP BY ?yearOfEvent
ORDER BY ?yearOfEvent`,

'Performers born in Vienna that have played works by Schubert':
`#Performers born in Vienna that have played works by Schubert
PREFIX chnames: <http://data.carnegiehall.org/names/>
PREFIX dcterms: <http://purl.org/dc/terms/>
PREFIX mo: <http://purl.org/ontology/mo/>
PREFIX schema: <http://schema.org/>

SELECT DISTINCT ?performer ?name
WHERE {
?performer schema:birthPlace <http://sws.geonames.org/2761369/> ;
       schema:name ?name .
?workPerf schema:workPerformed ?work ;
      mo:performer ?performer .
?work dcterms:creator chnames:1002249 .
}`,


'Nobel Peace Prize Winners that have spoken at CH':
`#Nobel Peace Prize Winners that have spoken at CH
PREFIX wdt:  <http://www.wikidata.org/prop/direct/>
PREFIX wd:  <http://www.wikidata.org/entity/>
PREFIX bd:  <http://www.bigdata.com/rdf#>
PREFIX p: <http://www.wikidata.org/prop/>
PREFIX ps: <http://www.wikidata.org/prop/statement/>
PREFIX pq: <http://www.wikidata.org/prop/qualifier/>
PREFIX  wikibase:  <http://wikiba.se/ontology#>
SELECT * {
  SERVICE <https://query.wikidata.org/sparql>
  {
    SELECT DISTINCT ?item ?ch_ID ?itemLabel (YEAR(?when) AS ?date) WHERE
    {
      ?item wdt:P4104 ?chAgent_id.
      ?item p:P166 ?awardStat.
      ?awardStat ps:P166 wd:Q35637.
      ?awardStat pq:P585 ?when.
      wd:P4104 wdt:P1630 ?formatterurl .
      BIND(IRI(REPLACE(?chAgent_id, '^(.+)$', ?formatterurl)) AS ?ch_ID).
      SERVICE wikibase:label { bd:serviceParam wikibase:language 'en'. }
    }
  }
}
ORDER BY ASC(?date)`,

'This day in CH history':
`#This day in CH history
PREFIX schema: <http://schema.org/>
PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
SELECT ?event ?title (CONCAT(STR(MONTH(?date)),
             '/',
              STR(DAY(?date)),
              '/',
             STR(YEAR(?date))) as ?displayDate)
WHERE {
  BIND(MONTH(NOW()) AS ?nowMonth)
  BIND(DAY(NOW()) AS ?nowDay)
  
  ?event a schema:Event ;
  schema:startDate ?date ;
  rdfs:label ?title .
  FILTER (MONTH(?date) = ?nowMonth && DAY(?date) = ?nowDay)
}
ORDER BY ?date`,

'Whose birthday is today?':
`#Whose birthday is today?
PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
PREFIX schema: <http://schema.org/>
SELECT ?personID ?personName ?birthPlaceLabel (YEAR(?date) as ?year)
WHERE {
  BIND(MONTH(NOW()) AS ?nowMonth)
  BIND(DAY(NOW()) AS ?nowDay)
  
  ?personID schema:birthDate ?date ;
            schema:name ?personName ;
            schema:birthPlace ?birthPlace .
  ?birthPlace rdfs:label ?birthPlaceLabel .
  FILTER (MONTH(?date) = ?nowMonth && DAY(?date) = ?nowDay)
}
ORDER BY ?year
LIMIT 100`,

'Whose birthday is this month?':
`#Whose birthday this month?
PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
PREFIX schema: <http://schema.org/>
SELECT ?personID ?personName ?birthPlaceLabel (CONCAT(STR(MONTH(?date)),
             '/',
              STR(DAY(?date)),
              '/',
             STR(YEAR(?date))) as ?displayDate)
WHERE {
  BIND(MONTH(NOW()) AS ?nowMonth)
  ?personID schema:birthDate ?date ;
            schema:name ?personName ;
            schema:birthPlace ?birthPlace .
  ?birthPlace rdfs:label ?birthPlaceLabel .
  FILTER (MONTH(?date) = ?nowMonth)
}
ORDER BY ?displayDate
LIMIT 100`
}



      const yasgui = new Yasgui(document.getElementById("yasgui"), {
        requestConfig: { endpoint: "/sparql/" },
        copyEndpointOnNewTab: false,
      });



      // yasgui.setQuery("select * where {...}");

      // yasgui.getTab().setQuery(examples['Performers with the most CH performances'])


      // build the example queries select
      let exampleSelect = document.getElementById('examples')

      for (let e of Object.keys(examples)){

        let el = document.createElement('option')
        el.value = e
        el.text = e
        exampleSelect.appendChild(el)

      }

      // when they change the dropdown
      exampleSelect.addEventListener('change',(event)=>{
        yasgui.getTab().setQuery(examples[event.target.value])
        yasgui.getTab().query()
      })




      // update the last update thing
        var request = new XMLHttpRequest();
        request.open('GET', '/void/jsonld', true);

        request.onload = function() {
          if (this.status >= 200 && this.status < 400) {
            // Success!
            var data = JSON.parse(this.response);
            data.forEach((d)=>{
                // if (d['@']==)
                if (d['http://purl.org/dc/terms/modified']){
                    if (d['http://purl.org/dc/terms/modified'][0]){
                        console.log(d['http://purl.org/dc/terms/modified'][0])
                        if (d['http://purl.org/dc/terms/modified'][0]['@value']){
                            document.getElementById('data-last-updated').innerHTML=d['http://purl.org/dc/terms/modified'][0]['@value'];
                        }
                    }
                }
            })
          } else {
            // We reached our target server, but it returned an error
          }
        };
        request.onerror = function() {
          // There was a connection error of some sort
        };
        request.send();





        // if the example is passed and it exsits in the example obj
        // load it and execcute it, a way to link to examples, for exmaple:
        // /sparql?example=Performers born in Vienna that have played works by Schubert

        let url = new URL(window.location.href);
        let c = url.searchParams.get("example");
        if (c && examples[c]){
          yasgui.getTab().setQuery(examples[c])
          yasgui.getTab().query()


          exampleSelect.value = c;


        }



    </script>




    <style>
      .yasgui .autocompleteWrapper {
        display: none !important;
      }

      .controlbar{
        float: right;
      }
    </style>


  </div>
</div>
{% endblock %}
